# dependencies
node_modules

# build outputs
dist
dist-electron

# logs and misc
*.log
.DS_Store

# database
gilteun-system.db

# tests artifacts
playwright-report
test-results

# editor/IDE
.idea
.vscode

